/**
 * A more specific selector overwrites bootstrap display properties, but they still enable users
 * to overwite them on their apps.
 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 42;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  padding: 2rem;
  box-sizing: border-box;

  .modal-dialog {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 43;
  }

  &--top {
    justify-content: flex-start;
  }

  &--bottom {
    justify-content: flex-end;
  }

  &--left {
    align-items: flex-start;
  }

  &--right {
    align-items: flex-end;
  }


}

.modal.in {
  opacity: 1;
}